@using GranDanesWebSite.Models
@model List<Prestamo>

<div class="card">
    <div class="card-title">Prestamos Pendientes</div>
    <div class="card-body">

        @if (Model != null && Model.Count > 0)
        {
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID Préstamo</th>
                        <th>Monto Total</th>
                        <th>Monto con Intereses</th>
                        <th>Tasa de Interés</th>
                        <th>Fecha de Préstamo</th>
                        <th>Fecha de Vencimiento</th>
                        <th>Estado</th>
                        <th>Número de Cuotas</th>
                        <th>Frecuencia de Pago</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prestamo in Model)
                    {
                        <tr 
                            hx-get="@Url.Action("VerCoutasPorPrestamos", "Htmx", new { id = @prestamo.PrestamoID })" 
                            hx-sawp="innerHTML" 
                            hx-trigger="click" 
                            hx-target="#id-modal-dialog-block"
                        >
                            <td>@prestamo.PrestamoID</td>
                            <td>@prestamo.MontoTotal</td>
                            <td>@prestamo.MontoConIntereses</td>
                            <td>@prestamo.TasaInteres</td>
                            <td>@prestamo.FechaPrestamo.ToShortDateString()</td>
                            <td>@prestamo.FechaVencimiento.ToShortDateString()</td>
                            <td>@prestamo.Estado</td>
                            <td>@prestamo.NumeroCuotas</td>
                            <td>@prestamo.FrecuenciaPago</td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        }
        else
        {
            <p>No se encontraron préstamos pendientes para este cliente.</p>
        }

    </div>
</div>


